<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.UNKNOWN"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Editpassword"
            android:exported="false" />
        <activity
            android:name=".Editprofile"
            android:exported="false" />
        <activity
            android:name=".retrofitActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackFormActivity"
            android:exported="false" />
        <activity
            android:name=".CreatePostRequest"
            android:exported="false" />
        <activity
            android:name=".LoginResponse"
            android:exported="false" />
        <activity
            android:name=".PostingResponse"
            android:exported="false" />
        <activity
            android:name=".SignUpResponse"
            android:exported="false" />
        <activity
            android:name=".User"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Terms_policy"
            android:exported="false" />
        <activity
            android:name=".PostingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other activities -->
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpCreate"
            android:exported="false" />
        <activity
            android:name=".UnknownActivity"
            android:exported="true" />
    </application>

</manifest>